h2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.posts {
    border: 1px solid blue;
    width: 400px;
    padding: 15px;
    margin-bottom: 30px;
}

.comments {
    border-bottom: 1px solid blue;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 30px;
    margin-left: 30px;
}